.fcontainer {
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
  background: url('https://i.gifer.com/Ir8.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.fcontainer h1 {
  text-align: center;
  color: #eeff00;
  margin-top: 2%;
}

.fcontainer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.fcontainer li {
  background-color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0px 10px 1px rgb(204, 255, 0);
  width: 80%;
  max-width: 400px;
  margin: 2% auto;
}

.flink {
  color: rgb(212, 210, 210);
  text-decoration: none;
  font-size: large;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.flink:hover {
  text-decoration: underline;
  color: rgb(246, 247, 249);
}


.prevb,
.nextb {
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 20px 10px; 
  width: calc(50% - 20px); 
  max-width: 200px;
}

.prevb:disabled,
.nextb:disabled {
  background-color: #242424;
  cursor: not-allowed;
}


.prevb{
  margin-left: 36%;
}

@media (max-width: 768px) {
  .fcontainer ul {
    flex-direction: column;
    padding: 0;
  }

  .fcontainer li {
    width: 90%;
    margin: 2% auto;
  }

  .prevb,
  .nextb {
    width: 90%;
    margin: 20px auto; 
  }
  .prevb{
    margin-left: 25%;
  }
}

@media (max-width: 576px) {
  .fcontainer h1 {
    font-size: 1.5em;
  }

  .flink {
    font-size: 18px;
  }

  .prevb,
  .nextb {
    font-size: 16px;
  }
}
